# Ignore node_modules and build directory
node_modules/
build/

# Ignore versioned directories and configuration files
.git
.gitignore
.idea
*.iml

# Ignore local configurations and temporary files
*.env
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db
